@model List<MVCUserRoleManager.Areas.Identity.Data.Role>

<h3>Roles list</h3>
<a asp-action="Create">Add role</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Role name</th>
            <th>Badge</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@role.Badge</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id">Edit</a>

                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>